@import url('https://fonts.googleapis.com/css2?family=Rethink+Sans:wght@300;400;500;600;700&display=swap');

.project-3 {
    display: flex;
    flex-direction: column;
    gap: 32px;
    margin-top: 177px;
}

.full-image {
    width: 100%;
    object-fit: cover;
    position: relative;
    z-index: 2;
}

.book-text-no-padding {
    display: flex;
    flex-direction: column;
    gap: 24px;
    position: relative;
    z-index: 3;
    font-family: 'Rethink Sans', sans-serif;
    padding: 0;
}

.lang-label {
    display: block;
    font-family: 'Rethink Sans', sans-serif;
    font-size: 18px;
    font-weight: 500;
    color: #0F0F0F;
    margin-bottom: 10px;
}

.lang-label.pt,
.lang-label.en {
    color: #817F7F;
    font-size: 14px;
}

.section-es {
    display: flex;
    flex-direction: column;
}

.section-es p {
    font-size: 18px;
    color: #0F0F0F;
    margin: 0 0 16px;
}

.section-es p:last-child {
    margin-bottom: 0;
}

.first-paragraph {
    margin-bottom: 20px;
}

.section-pt,
.section-en {
    display: flex;
    flex-direction: column;
}

.section-pt p,
.section-en p {
    font-size: 14px;
    color: #817F7F;
    margin: 0;
}

.book-text strong {
    font-weight: bold;
    font-style: italic;
}

.expanded-image {
    width: 100%;
    max-height: 100%;
}

.split-image {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 16px;
}

.second-row-different {
    padding: 16px 180px 32px 132px;

    .section-es {
        padding-right: 36px;
    }
}


.complete-image {
    display: flex;
    flex-direction: column;

    img {
        width: 100%;
    }
}


.identidade-visual {
    display: flex;
    flex-direction: column;
    gap: 24px;
    padding: 16px 60px 16px;
    font-family: 'Rethink Sans', sans-serif;

    .component-title {
        font-family: 'Rethink Sans', sans-serif;
        font-size: 18px;
        font-weight: 500;
        color: #0F0F0F;
    }

}