@import url('https://fonts.googleapis.com/css2?family=Rethink+Sans:wght@300;400;500;600;700&display=swap');

.sobre {
    display: flex;
    flex-direction: row;
    gap: 16px;
    margin-top: 177px;
}

.sobre-mi {
    width: 459px;
}

.book-text {
    display: flex;
    flex-direction: column;
    gap: 24px;
    font-family: 'Rethink Sans', sans-serif;
    padding: 0 32px;
}

.lang-label {
    display: block;
    font-family: 'Rethink Sans', sans-serif;
    font-size: 18px;
    font-weight: 500;
    color: #0F0F0F;
    margin-bottom: 10px;
}

.lang-label.pt,
.lang-label.en {
    color: #817F7F;
    font-size: 14px;
}

.section-es {
    display: flex;
    flex-direction: column;
    max-width: 100%;

}

.section-es p {
    font-size: 18px;
    color: #0F0F0F;
    margin: 0 0 16px;
}

.section-es p:last-child {
    margin-bottom: 0;
}

.first-paragraph {
    margin-bottom: 20px;
}

.section-pt,
.section-en {
    display: flex;
    flex-direction: column;
    max-width: 100%;
}

.section-pt p,
.section-en p {
    font-size: 14px;
    color: #817F7F;
    margin: 0;
}

.book-text strong {
    font-weight: bold;
    font-style: italic;
}

.expanded-image {
    width: 100%;
    max-height: 100%;
}

.split-image {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 16px;
}

.mail {
    display: flex;
    justify-content: center;
    width: 100%;

    button {
        width: 44px;
        height: 44px;
        border-radius: 99999px;
        border: 1px solid #817F7F;
        box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
        cursor: pointer;
        box-shadow: 1;
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: white;
        color: #817F7F;
    }
}